@model SongViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Song.Name</h1>
    <h3 class="display-4">@Model.Song.Author</h3>
    <table>
        @for (int i = 0; i < Model.Parts.Count; ++i)
        {
            PartViewModel part = Model.Parts[i];
            <tr>
                <td valign="top">@part.Part.Name</td>
                <td>
                    @if (Model.Parts.Take(i).All(p => p.Part.Name != part.Part.Name))
                    {
                        foreach (string line in part.FirstBarChordsLines)
                        {
                            @line<br/>
                        }
                    }
                </td>
                <td>
                    @if (Model.Parts.Take(i).All(p => p.Part.Name != part.Part.Name))
                    {
                        foreach (string line in part.SecondBarChordsLines)
                        {
                            @line<br/>
                        }
                    }
                </td>
                <td>
                    @foreach (string line in part.TextLines)
                    {
                        @line<br/>
                    }
                </td>
            </tr>
        }
    </table>
</div>