@model SongViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Song.Author — @Model.Song.Name</h1>
    <table>
        <tr>
            <td>
                @foreach (string line in Model.FirstBarChordsLines)
                {
                    @line<br />
                }
            </td>
            <td>
                @foreach (string line in Model.SecondBarChordsLines)
                {
                    @line<br />
                }
            </td>
            <td>
                @foreach (string line in Model.TextLines)
                {
                    @line<br />
                }
            </td>
        </tr>
    </table>
</div>